<?xml version="1.0"?>

<launch>

    <!-- the name must much the prefix of the camera sensor in the urdf -->

    
        <arg name="camera_type" default="realsense2" /> 
        <arg name="camera_name" default="rs2" /> 
        <arg name="image_rect" value="/$(arg camera_name)/color/image_raw" />
        <arg name="camera_info" value="/$(arg camera_name)/color/camera_info" /> 
   

    <!-- <arg name="camera_type" default="xtion" />
    <arg name="camera_name" default="lwr4pCam_xtion_pro" /> 
    <arg name="image_rect" value="/$(arg camera_name)/rgb/image_rect_color" />
    <arg name="camera_info" value="/$(arg camera_name)/rgb/camera_info" /> -->
    
    <!--    
        ###################################################
        #############   Launch realsense2  ################
        ###################################################
    -->

    <group if="$(eval arg('camera_type') == 'realsense2' )">

        <include file="$(find realsense2_camera)/launch/rs_camera.launch">
            <arg name="camera" value="$(arg camera_name)" /> <!-- This will be the prefix of the published image and tags header -->

            <arg name="enable_depth" value="true" />
            <arg name="align_depth" value="true" />
            <arg name="enable_sync" value="true" />
            <arg name="enable_pointcloud" value="true" />
            
            <arg name="color_width" value="640"/>
            <arg name="color_height" value="480"/>
            <arg name="color_fps" value="30"/>

            <arg name="depth_width" value="640"/>
            <arg name="depth_height" value="480"/>
            <arg name="depth_fps" value="30"/>
        </include>

    </group>

    <!--    
        ##############################################
        #############   Launch xtion  ################
        ##############################################
    -->

    <group if="$(eval arg('camera_type') == 'xtion' )">

        <!--   creates and publishes to all topics relevant to the camera sensor-->
        <include file="$(find openni2_launch)/launch/openni2.launch">
            <arg name="camera" value="$(arg camera_name)" /> <!-- This will be the prefix of the published image and tags header -->
            <!-- <arg name="rgb_frame_id"   default="$(arg camera)_rgb_optical_frame" /> -->
            <!-- <arg name="depth_frame_id" default="$(arg camera)_depth_optical_frame" /> -->
            <arg name="publish_tf" value="false" />
            <arg name="color_depth_synchronization" value="false" />
            <arg name="rgb_camera_info_url" value="package://apriltag_ros/config/xtion_calib.yaml" />
            <arg name="depth_camera_info_url" value="package://apriltag_ros/config/xtion_calib.yaml" />
        </include>

    </group>

    <!--    
        ###################################################
        #############   Apriltag Detector  ################
        ###################################################
    -->
    

    <arg name="node_namespace" default="apriltag_ros_continuous_node" />
    <!-- Set parameters -->
    <!-- <rosparam command="load" file="$(find apriltag_ros)/config/settings.yaml" ns="$(arg node_namespace)" /> -->
    <!-- <rosparam command="load" file="$(find apriltag_ros)/config/tags.yaml" ns="$(arg node_namespace)" /> -->
    
    <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="$(arg node_namespace)" clear_params="true" output="screen" launch-prefix="" required="true">

        <!-- Remap topics from those used in code to those on the ROS network -->
        <remap from="image_rect" to="$(arg image_rect)" />
        <remap from="camera_info" to="$(arg camera_info)" />

        <!-- <rosparam param="standalone_tags" subst_value="True">$(arg standalone_tags)</rosparam> -->

        <rosparam>

            publish_tag_detections_image: true

            remove_duplicates: true

            # =========== Settings ============
            tag_family:        'tag36h11' # options: tagStandard52h13, tagStandard41h12, tag36h11, tag25h9, tag16h5, tagCustom48h12, tagCircle21h7, tagCircle49h12
            tag_threads:       2          # default: 2
            tag_decimate:      1.0        # default: 1.0
            tag_blur:          0.0        # default: 0.0
            tag_refine_edges:  1          # default: 1
            tag_debug:         0          # default: 0
            max_hamming_dist:  2          # default: 2 (Tunable parameter with 2 being a good choice - values >=3 consume large amounts of memory. Choose the largest value possible.)
            # Other parameters
            publish_tf:        false       # default: false

            # =========== tags ============
            standalone_tags: 
                [
                    #{id: 2, size: 0.0615},
                    #{id: 0, size: 0.085},
                    #{id: 1, size: 0.0615},
                    {id: 3, size: 0.085},
                    {id: 4, size: 0.065},
                    {id: 5, size: 0.065},
                    {id: 6, size: 0.065},
                    {id: 11, size: 0.064},  # for the on-robot tag for robot-camera callibration
                ]

            tag_bundles:
                [
                ]

        </rosparam>

    </node>

</launch>
