<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!--
=========  INCLUDES  ========
-->

<!-- lwr4p -->
<xacro:include filename="$(find descriptions)/lwr4p_description/urdf/lwr4p.urdf.xacro" />

<!-- phri-tool -->
<xacro:include filename="$(find descriptions)/phritool_description/urdf/phritool.urdf.xacro" />

<!-- ati-sensor -->
<xacro:include filename="$(find descriptions)/ati_sensor_description/urdf/ati_mini_40.urdf.xacro" />

<!--
=========  PARAMS  ========
- parent              : the parent link
- prefix              : the prefix for all constructed links/joints                                          (default='lwr4p')
- *robot_base_origin  : an origin block specifying the origin of the robot's base w.r.t. the parent link
- ee_frame_pos        : position of the end-effector frame w.r.t. the tool-tip                               (default='0 0 0' the phri tool-tip)
- ee_frame_orient     : orientation of the end-effector frame w.r.t. the tool-tip                            (default='0 0 0')
- right               : 1 for right, -1 for left      
-->

<!--
=========  LINKS  ========
- ${prefix}_base_link            :  the lwr4p robot's base link
- ${prefix}_ee_link              :  the end-effector link (default: the tip of the pHRI tool) 
- ${prefix}:_arm_7_link                :  robot's flange
- ${prefix}_phritool_handle_tip  :  the phri tool's tip
-->

<xacro:macro name="lwr4p_ati40_phritool_robot" 
    params="
        parent
        prefix:='lwr4p' 
        *robot_base_origin 
        ee_frame_pos:='0 0 0' 
        ee_frame_orient:='0 0 0'
        right:=1
    ">

  <!-- =========   base link   ========= -->
  <link name="${prefix}_base_link" />

  <joint name="${prefix}_world_base_joint" type="fixed">
      <xacro:insert_block name="robot_base_origin" />
      <parent link="${parent}"/>
      <child link="${prefix}_base_link"/>
  </joint>

  <!-- =========   robot   ========= -->
  <xacro:kuka_lwr_arm parent="${prefix}_base_link" name="${prefix}:" right="${right}" tool_name=""/>

  <!-- =========   F/T sensor   ========= -->
  <xacro:ati_mini_40 prefix="${prefix}_ati" parent="${prefix}:_arm_7_link">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0" />
  </xacro:ati_mini_40>

  <!-- =========   tool   ========= -->
  <xacro:phritool prefix="${prefix}_phritool" parent="${prefix}_ati_sensor_tip">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0" />
  </xacro:phritool>

  <!-- =========   ee link   ========= -->
  <link name="${prefix}_ee_link"/>

  <joint name="${prefix}_phri_tool_ee_joint" type="fixed">
    <origin xyz="${ee_frame_pos}" rpy="${ee_frame_orient}"/>
    <parent link="${prefix}_phritool_handle_tip"/>
    <child link="${prefix}_ee_link"/>
  </joint>

</xacro:macro>

</robot>
