<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!--
=========  INCLUDES  ========
-->

<!-- ur5e -->
<xacro:include filename="$(find descriptions)/ur_e_description/urdf/ur5e.urdf.xacro" />

<!-- robotiq_85_gripper -->
<xacro:include filename="$(find descriptions)/robotiq_85_description/urdf/robotiq_85_gripper.urdf.xacro" />

<!--
=========  PARAMS  ========
- parent              : the parent link
- prefix              : the prefix for all constructed links/joints                  (default='ur5e')
- *origin             : origin block of the robot's base w.r.t. the parent link
- ee_frame_pos        : position of the end-effector frame w.r.t. the robot's flange ${prefix}:tool0      (default='0 0 0' )
- ee_frame_orient     : orientation of the end-effector frame w.r.t. the robot's flange ${prefix}:tool0   (default='0 0 0')
-->

<!--
=========  LINKS  ========
- ${prefix}_base_link            :  the ur5 robot's base link
- ${prefix}_ee_link              :  the end-effector link (default: the robot's flange ${prefix}:tool0) 
- ${prefix}:tool0                :  robot's flange
- ${prefix}_r85gripper_link      :  the gripper's base link
-->


<xacro:property name="pi" value="3.1415926535897931" />


<xacro:macro name="ur5e_r85gripper_robot" 
    params="
        parent
        prefix:='ur5e' 
        *origin 
        ee_frame_pos:='0 0 0' 
        ee_frame_orient:='0 0 0'
    ">

  <!-- =========   base link   ========= -->
  <link name="${prefix}_base_link" />

  <joint name="${prefix}_world_base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${prefix}_base_link"/>
  </joint>

  <!-- =========   robot   ========= -->
  <xacro:ur5e_robot prefix="${prefix}:" joint_limited="false"/>

  <joint name="${prefix}:base_joint" type="fixed">
    <parent link="${prefix}_base_link" />
    <child link = "${prefix}:base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0" />
  </joint>

  <!-- =========   gripper   ========= -->
  <xacro:robotiq_85_gripper prefix="${prefix}_r85_" parent="${prefix}:tool0">
    <origin xyz="0.0 0.0 0.0" rpy="0 -${pi/2} ${pi/2}" />
  </xacro:robotiq_85_gripper>

  <!-- =========   ee link   ========= -->
  <link name="${prefix}_ee_link"/>

  <joint name="${prefix}_r85gripper_ee_joint" type="fixed">
    <origin xyz="${ee_frame_pos}" rpy="${ee_frame_orient}"/>
    <parent link="${prefix}:tool0"/>
    <child link="${prefix}_ee_link"/>
  </joint>

</xacro:macro>

</robot>
