<?xml version="1.0"?>
<robot name="robot_ur5_kol" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- ======================   includes   ============================== -->

<!-- ur5 -->
<!-- <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" /> -->
<xacro:include filename="$(find ur_e_description)/urdf/ur5e.urdf.xacro" />

<!-- kol_case -->
<xacro:include filename="$(find project_name_)/urdf/kol_case.xacro" />
<!-- <xacro:include filename="$(find project_name_)/urdf/kol_finger.xacro"/> -->

<!-- kol_finger -->
<xacro:include filename="$(find project_name_)/urdf/kol_finger.urdf.xacro" />

<!-- car_starter -->
<xacro:include filename="$(find project_name_)/urdf/car_starter.urdf.xacro" />

<!-- ================================================================== -->

<!-- =============  Base-link  ============= -->
<link name="world" />
<link name="base_link" />

<joint name="world_base_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="base_link"/>
</joint>

<!-- =============  ur5  ============= -->
<property name="robot_name" value="ur5"/>
<xacro:ur5e_robot prefix="${robot_name}_" joint_limited="false"/>

<joint name="${robot_name}_base_joint" type="fixed">
  <parent link="base_link" />
  <child link = "${robot_name}_base_link" />
  <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0" />
</joint>

<!-- ===============  kol_finger  =================-->
<xacro:kol_finger prefix="" parent="${robot_name}_tool0" >
    <origin xyz="0 0 0.0" rpy="0 0 -1.57"/>
</xacro:kol_finger>


<!-- ===============  car_starter  =================-->
<xacro:car_starter prefix="" parent="${robot_name}_tool0" >
    <origin xyz="0 0 0" rpy="0 0 0"/>
</xacro:car_starter>


<!-- ===============  ee link  =================-->
<link name="ee_link"/>

<joint name="${robot_name}_ee_joint" type="fixed">
    <origin xyz="0 0 0.093" rpy="0 0 0"/>
    <parent link="${robot_name}_tool0"/>
    <child link="ee_link"/>
</joint>


<!-- ===============  kol_casing  =================-->
<!-- <xacro:kol_case name="case1" parent="base_link" xyz="-0.6 -0.6 0" rpy="0 0 0" />
<xacro:kol_case name="case2" parent="base_link" xyz="-0.4 -0.5 0" rpy="0 0 0" /> -->


</robot>
